@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
/* define variables for the primary colors */
$primary_1: #E82E31;
$textcolor_1:#151D41;
$textcolor_2:#000000;
$textcolor_3:#5B5B5B;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif !important;
}

// Default style

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
}

h2,h3,h4,h5,h6{
    color: $textcolor_1;
    font-weight: 700;
}

.be{
    display: block;
}

.b{
    font-weight: 700;
}

.custom-flex{
    display: flex;
    justify-content: space-between;
    align-items: center
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
    font-weight: 600;
}

h4{
    font-size: 30px;
    font-weight: 600;
}

/* Header Start */

main{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    &::before{
        content: "";
        position: absolute;
        background: url("../images/banner/the-girl.png") no-repeat center;
        background-size: cover;
        width: 70%;
        height: 100%;
        right: 0;
        z-index: -1;
    }

    header{
        position: relative;
        z-index: 5;
        a{
            color: $textcolor_3;
            font-weight: 600;
            &:hover{
                color: #000000;
            }
        }
        .navbar-nav {
            gap: 35px;
        }
    }
    .banner-btn{
        @extend .custom-flex;
        justify-content: flex-start;
        gap: 30px;
        margin-top: 25px;
        a{
            color: $textcolor_2;
            font-size: 14px;
            font-weight: 700;
        }
    }

}

.main-btn{
    padding: 8px 30px;
    background-color: $primary_1;
    color: #ffffff ;
    border-radius: 20px;
    display: inline-block;
}


/* Header End */



// Section hire-us start
.hire-us .container{
    max-width: 1000px;
}

.hire-us{
    .hu-img{
        position: relative;
        .img-dot{
            position: absolute;
            right: 50px;
            top: -10px;
            z-index: -1;
        }
        .img-circle{
            position: absolute;
            left: -35px;
            top: -50px;
        }
    }
    .p-line{
        display: inline-block;
        position: relative;
        color: $primary_1;
        margin-top: 75px;
    }
    .p-line::before{
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        width: 35%;
        height: 12px;
        background-color: #FDEAEA;
        z-index: -1;
        border-radius: 15px;
    }
    P, h4{
        color: $textcolor_1;
        padding-right: 120px;
    }
    .main-btn{
        margin-top: 35px;
        border-radius: 5px;
        padding: 10px 25px;
        font-size: 12px;
    }
    .number-box{
        font-size: 30px;
        border: 2px solid $primary_1;
        border-radius: 50%;
        width: 99px;
        height: 100px;
        position: relative;
        margin: 0 auto;
        flex-direction: column;
    }
    .number-box h4{
        font-weight: 700;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    .number-box span{
        font-size: 8px;
        display: inline-block;
        margin-top: 50px;
    }
    .number-box::before{
        content: "";
        position: absolute;
        top: -1px;
        left: 1px;
        height: 103%;
        width: 100%;
        border-radius: 120px;
        border: 5px solid $primary_1;
        border-left-color: #ffffff;
        transform: rotate(40deg);
    }
    .number-box::after{
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background-color: #ffffff;
        top: -10px;
        left: -10px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: 1px 1px 5px 5px #e7e7e7;
    }
    .nb-3::before{
        border-bottom-color: #ffffff;
        border-right-color: #ffffff;
    }
    .number-box h4{
        padding: 0px;
    }
}
// Section hire-us end


// Section Service Start
.sec-heading{
    margin-bottom: 40px;
    text-align: center;
    span{
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        color: $primary_1;
    }
    span::before{
        position: absolute;
        content: "";
        top: 0px;
        left: 15px;
        width: 100%;
        height: 20px;
        background-color: #FDEAEA;
        border-radius: 5px;
        z-index: -1;
    }
    h2{
        color: $textcolor_1;
        font-weight: 700;
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            height: 20px;
            background-color: #FDEAEA;
            border-radius: 15px;
            z-index: -1;
        }
    }
}

.services{
    .container{
        max-width: 1000px;
    }
    .services-box{
        .img-circle{
            position: relative;
            margin-bottom: 35px;
        &::before{
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            border: 1px solid $primary_1;
            border-radius: 50%;
            top: 0px;
            left: 0px;
        }
        img{
            width: 50px;
            height: 100%;
            position: relative;
            top: 25px;
            left: 25px;
        }
        }
        .sb-inner h3{
          margin:80px 0px 0px 0px;
          position: relative;
        }
        img{
            width: 25%;
            position: relative;
            left: 5px;
        }
        p{
            margin:50px 0px;
        }
        a{
            border-radius: 5px;
        }
        .sb-inner{
            padding: 40px;
            border-radius: 5px;
            transition: all .35s;
          &:hover{
            background-color: $primary_1;
            color: #ffffff;
            a{
                background-color: #ffffff;
                color: #000000;
            }
            h3{
                color: #ffffff;
            } 
            img{
                filter: brightness(0) invert(1);
            }
            ::before{
                border: 1px solid #ffffff;
            }
          }
        }
    
        .sb-inner-right{
            .sb-line{
                width: 100%;
                background-color: #FDEAEA;
                height: 5px;
                position: relative;
                margin-bottom: 40px;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 95%;
                    height: 5px;
                    background-color: $primary_1;
                }
            }
            .sb-line.sb-line-2{
                &::before{

                    width: 85%;
                }
            }
            .sb-line.sb-line-3{
                &::before{

                    width: 70%;
                }
            }
            h5{
                font-weight: 600;
            } 
            span{
                color: $textcolor_3;
            }
        }
        .sbr-b{
            position: relative;
            background-color: #ffffff;
            img{
                position: absolute;
                top: 0px;
                width: 60%;
                left: 49%;
                z-index: -1;
            }
        }
    }
    .bbtn a{
       border-radius: 5px;
    }
}


// Section Service End


// my works start
.my-work{
    padding:80px 0px;
    h2{
        color: $primary_1;
    }
    .work-inner{
        position: relative;
        overflow: hidden;
    
        img{
            width: 100%;
        }
        div{
            position: absolute;
            top: 100%;
            left: 0px;    
            width: 100%;
            height: 100%;
            background-color: rgba(80, 226, 201,0.7);
            transition: .35s all;
            .i-content{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: #ffffff;
                h5{
                    font-size: 30px;
                    font-weight: 500;
                    color: #ffffff;
                }
                i{
                    font-size: 30px;
                }
            }
        }
        &:hover div{
            top:0px;
        }
        
    }
   
    .main-btn{
        padding: 15px 70px;
        border-radius: 5px;
        font-size: 18px;
    }
    
}
// my works end

.pink{
    color: $primary_1 !important;
}

// Testimonials Start
.testimonials{
    padding: 50px 0px;
    background: url("../images/testi/bg.png") no-repeat center;
    background-size: contain;
    .container{
        max-width: 800px;
    }
    span{
        &::before{
            background-color: #E7F8EF;
        }
    }
}
// Testimonials End


// blog Start
.blog{
    padding: 50px 0px;
    background: url("../images/blog/bg.png") no-repeat right;
    background-size: contain;
    .blog-content{
        padding: 20px;
        background-color: #ffffff;
        position: relative;
        top: -10px;
        border-radius: 15px;
    }
    .sp{
        font-size: 14px;
    }
    .lp{
        color: $textcolor_1;
    }
    a{
        color: $primary_1;
        border-radius: 5px;
    }
    i{
        color: $primary_1;
    }

}
// blog End

// Footer Start
footer{
    padding: 50px 0px;
    h6{
        color: $primary_1 !important;
    }
}
// Footer End

// Copywrite Start
.copywrite{
    border-top: 2px solid $primary_1;
    text-align: center;
    padding-top: 30px;
    color: $textcolor_1;
   
}
// Copywrite End

@media only screen and (max-width: 992px){
    .nav-bg{
        background-color: #ffffff;
        ul{
            padding-top: 25px;
        }
    }
    h1{
        font-size: 40px;
    }
    .hire-us P, .hire-us h4{
        padding: 0px;
    }
    .hu-img{
        text-align: center;
    }
    main{
        height: 75vh !important;
    }
    main{
        &::before{
            width: 75%;
            height: 80%;
    }
    .hire-us P,.hire-us h4 {
        padding-right: 0px;
    }
    }
    .im-dot{
        display: none;
    }
    footer {
        h6{
            font-size: 15px;
        }
    }

    main{
        &::before{
            width: 60% !important;
        }
    }
    .inner-banner{
        padding-top: 20px;
    }
    .d-c-f.c-f{
        font-size: 12px;
    }
    .c-f h6{
        font-size: 14px;
    }
}

.hide-ban{
    display: none;
    max-width: 100%;
}

@media only screen and (max-width: 768px){
    main{
       &::before{
        display: none;
        top: 75px;
     }
     .inner-banner{
        text-align: center;
     }
     .banner-btn{
        justify-content: center;
     }
    }
    .child-1{
        order: 2;
    }
    .child-2{
        order: 1;
    }

   
    .hide-ban{
        display: block;
    }
    main{
        height: auto !important;
        .inner-banner{
            padding: 15px 0px 25px 0px;
        }
    }

    .navbar-collapse{
        height: 100vh;
    }
}

@media only screen and (max-width: 600px){

    h1{
        font-size: 30px;
    }

    .sec-heading h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 350px){

    .banner-btn a{
        font-size: 10px !important;
    }

    .main-btn{
        font-size: 10px !important;
    }
}


@media only screen and (max-width: 1300px){
    main{
        height: 100vh;
    }
    main{
        &::before{
            width: 70%;
        }
    }
}

@media only screen and (min-width: 768px){
    footer{
        .c-f{
            display: flex;
            align-items: flex-end;
            flex-direction: column;
        }
    }
    .inner-banner{
        text-align: left !important;
     }
     
     main{
        &::before{
         display: block;
      }
    }
    .hide-ban{
        display: none;
    }

    main .banner-btn {
    justify-content: flex-start;

}

}
@media only screen and (min-width: 992px){
    main{
        height: 80vh;
    }
    .inner-banner{
        padding-top: 100px;
    }
}
@media only screen and (min-width: 992px){
    main{
        height: 100vh;
    }

}
